@using IoTHomeAssistant.Domain.Enums
@model List<IoTHomeAssistant.Domain.Entities.Widget>
@{ ViewData["Title"] = "Home Page"; }

@await Html.PartialAsync("_WidgetModal", Model)

@foreach (var area in Model.GroupBy(x => x.Area))
{
<h2 class="font-weight-bold pb-3">@area.Key.Title</h2>
<div class="row">
    @foreach (var widget in area.OrderBy(x => x.Order))
    {
    <div class="col-sm-12 col-md-6 col-xl-4 widget">
        <div class="list-group-item">
            <h4 class="pl-2">@widget.Title</h4>
        </div>
        @foreach (var item in widget.Items)
        {

            @if (item.Type == WidgetItemTypeEnum.Informer)
            {
                <div class="list-group-item">
                    <div class="float-left">
                        @await Html.PartialAsync("_DashboardIcon", item)
                        <span class="h4 pl-3">@item.Title</span>
                    </div>
                    @*<div class="float-right device-topic-@item.DeviceTopic.Id">
                        <div class="loader_new" style="left: 80%">Loading...</div>
                    </div>*@
                </div>
            }
            @if (item.Type == WidgetItemTypeEnum.Switcher)
            {
                <div class="list-group-item">
                    <div class="float-left">
                        <img src="https://image.flaticon.com/icons/png/512/427/427735.png" height="90" />
                        <span class="h4 pl-3">@item.Title</span>
                    </div>
                    <div class="float-right mr-2">
                        <input type="checkbox" checked id="switch-@(item.Id)" class=" lightSwitcher toggle switch-@(item.Id)" data-id="@(item.Id)" /><label for="switch-@(item.Id)" class="toggle">Toggle</label>
                    </div>
                </div>
            }
            @if (item.Type == WidgetItemTypeEnum.RgbBulb)
            {
                <div class="list-group-item">
                    <h4 class="pl-2">@item.Title</h4>
                </div>
                <div class="list-group-item">
                    <div class="float-left">
                        <img src="https://image.flaticon.com/icons/png/512/2779/2779861.png" height="90" />
                        <span class="m-auto">
                            <img src="https://image.flaticon.com/icons/png/512/880/880950.png" class="ml-3" height="30" />
                            <span>
                                <input type="range" class="form-range form-control-lg p-0 m-4" id="rgbRange" onmouseup ="changeRgbSettings()"  min="5" max="100" />
                            </span>
                            @* <img src="https://image.flaticon.com/icons/png/512/880/880909.png" height="40" /> *@
                            @* <span class="text-secondary text-uppercase">brightness</span> *@
                        </span>
                    </div>
                    <div class="float-right mr-2">
                        <input type="checkbox" checked id="switch-@(item.Id)" class="rgbSwitch toggle switch-@(item.Id) " data-id="@(item.Device?.Id)" /><label for="switch-@(item.Id)" class="toggle">Toggle</label>
                    </div>
                </div>
                <div class="colorsAndScenes">
                    <div class="list-group-item">
                        <h5 class="pl-2">Colors and Scenes</h5>
                    </div>
                    <div class="list-group-item">
                        <ol class="bulb-palette">
                            <li class="rgbColor colorSelected workingColor" style="background-color: white"></li>
                            <li class="rgbColor readingColor" style="background-color: #FFEB3B"></li>
                            <li class="rgbColor" style="background-color: #FF9800"></li>
                            <li class="rgbColor" style="background-color: #FF5722"></li>
                            <li class="rgbColor" style="background-color: #E91E63"></li>
                            <li class="rgbColor" style="background-color: #9C27B0"></li>
                            <li class="rgbColor" style="background-color: #673AB7"></li>
                            <li class="rgbColor" style="background-color: #2196F3"></li>
                            <li class="rgbColor" style="background-color: #03A9F4"></li>
                            <li class="rgbColor" style="background-color: #00BCD4"></li>
                            <li class="rgbColor" style="background-color: #009688"></li>
                            <li class="rgbColor" style="background-color: #4CAF50"></li>
                            <li class="rgbColor" style="background-color: #CDDC39"></li>
                        </ol>
                    </div>
                                  
                </div>
            }

        }
        @if (widget.Id > 1)
        {
            <br />
            <div class="list-group-item">
                <div class="w-100">
                    <a class="weatherwidget-io" href="https://forecast7.com/uk/48d2925d94/chernivtsi/" data-label_1="ЧЕРНІВЦІ" data-label_2="Погода" data-font="Roboto Slab" data-icons="Climacons Animated" data-theme="pure">ЧЕРНІВЦІ Погода</a>
                </div>
            </div>
        }
    </div>
    }


    <div class="col-sm-12 col-md-6 col-xl-4 widget">
        <div class="list-group-item">
            <h4 class="pl-2">Test Chart</h4>
        </div>
        <div class="list-group-item">
            <div id="chartdiv" style="height: 300px"></div>
        </div>                
    </div>
</div>   

<br />
<h2 class="font-weight-bold pb-3">Static Room</h2>
<div class="row">
    <div class="col-sm-12 col-md-6 col-xl-4 widget">
        <div class="list-group-item">
            <h4 class="pl-2">Освітлення</h4>
        </div>
        <div class="list-group-item">
            <div class="float-left">
                <img src="https://image.flaticon.com/icons/png/512/2865/2865478.png" height="90" />
                <span class="h4 pl-3">Основне Освітлення</span>
            </div>
            <div class="float-right mr-2">
                <input type="checkbox" checked id="switch1" class="toggle" /><label for="switch1" class="toggle">Toggle</label>
            </div>
        </div>
        <div class="list-group-item">
            <div class="float-left">
                <img src="https://image.flaticon.com/icons/png/512/427/427735.png" height="90" />
                <span class="h4 pl-3">Основне Освітлення</span>
            </div>
            <div class="float-right mr-2">
                <input type="checkbox" id="switch2" class="toggle" /><label for="switch2" class="toggle">Toggle</label>
            </div>
        </div>
        <div class="list-group-item">
            <div class="float-left">
                <img src="https://image.flaticon.com/icons/png/512/2922/2922352.png" height="90" />
                <span class="h4 pl-3">Основне Освітлення</span>
            </div>
            <div class="float-right mr-2">
                <input type="checkbox" id="switch" class="toggle" /><label for="switch" class="toggle">Toggle</label>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 widget">
        <div class="list-group-item">
            <h4 class="pl-2">Climate</h4>
        </div>
        <div class="list-group-item">
            <div class="air">
                <div class="degree-air">
                    <div class="degree-box">
                        <div class="degree"></div>
                        <div class="degree">21°</div>
                        <div class="degree current">22°</div>
                        <div class="degree">23°</div>
                        <div class="degree"></div>
                    </div>
                </div>
                <div class="detail-air">
                    <div class="detail-col">
                        <i class="fa fa-gg red"></i>
                        <span>Current</span>
                    </div>
                    <div class="detail-col">
                        <i class="fa fa-hourglass-o blue"></i>
                        <span>Time</span>
                    </div>
                    <div class="detail-col">
                        <i class="fa fa-money green"></i>
                        <span>Expenses</span>
                    </div>
                    <div class="detail-col">
                        <i class="fa fa-gg red"></i>
                        <span>Current</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-sm-12 col-md-6 col-xl-4 widget">
        <br />
        <br />
        <div class="list-group-item">
            <h4 class="pl-2">Light with dimmer</h4>
        </div>
        <div class="list-group-item">
            <div class="float-left">
                <img src="https://image.flaticon.com/icons/png/512/427/427735.png" height="90" />
                <span class="m-auto">
                    <img src="https://image.flaticon.com/icons/png/512/880/880950.png" class="ml-3" height="30" />
                    <span>
                        <input type="range" class="form-range form-control-lg p-4 m-4" id="customRange1" min="0" max="100" />
                    </span>
                    <img src="https://image.flaticon.com/icons/png/512/880/880909.png" height="40" />
                    <span class="text-secondary text-uppercase">brightness</span>
                </span>
            </div>
            <div class="float-right mr-2">
                <input type="checkbox" id="switch3" checked class="toggle" /><label for="switch3" class="toggle">Toggle</label>
            </div>
        </div>
        <br />
        <div class="list-group-item">
            <h4 class="pl-2">Additional Light</h4>
        </div>
        <div class="list-group-item">
            <div class="float-left">
                <img src="https://image.flaticon.com/icons/png/512/427/427735.png" height="90" />
                <span class="m-auto">
                    <img src="https://image.flaticon.com/icons/png/512/880/880950.png" class="ml-3" height="30" />
                    <span>
                        <input type="range" class="form-range form-control-lg p-4 m-4" id="customRange1" min="0" max="100" />
                    </span>
                    <img src="https://image.flaticon.com/icons/png/512/880/880909.png" height="40" />
                    <span class="text-secondary text-uppercase">brightness</span>
                </span>
            </div>
            <div class="float-right mr-2">
                <input type="checkbox" id="switch3" class="toggle" /><label for="switch3" class="toggle">Toggle</label>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 widget">
        <br /><br />
        <div class="list-group-item">
            <h4 class="pl-2">Doors</h4>
        </div>
        <div class="list-group-item">
            <div class="float-left">
                <img src="https://image.flaticon.com/icons/png/512/351/351684.png" height="90" />
                <span class="h4 pl-3">Вхідні Двері</span>
            </div>
            <div class="float-right mr-2">
                <img src="https://image.flaticon.com/icons/png/512/880/880779.png" height="90" />
            </div>
        </div>
        <div class="list-group-item">
            <div class="float-left">
                <img src="https://image.flaticon.com/icons/png/512/1229/1229960.png" height="90" />
                <span class="h4 pl-3">Двері на кухню</span>
            </div>
            <div class="float-right mr-2">
                <img src="https://image.flaticon.com/icons/png/512/861/861673.png" height="90" />
            </div>
        </div>
        <div class="list-group-item">
            <div class="float-left">
                <img src="https://image.flaticon.com/icons/png/512/1229/1229960.png" height="90" />
                <span class="h4 pl-3">Двері в кабінет</span>
            </div>
            <div class="float-right mr-2">
                <img src="https://image.flaticon.com/icons/png/512/861/861673.png" height="90" />
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 widget">
        <br /><br />
        <div class="list-group-item">
            <h4 class="pl-2">Windows</h4>
        </div>
        <div class="list-group-item">
            <div class="float-left">
                <img src="https://image.flaticon.com/icons/png/512/1353/1353187.png" height="90" />
                <span class="h4 pl-3">Вікно у вітальні</span>
            </div>
            <div class="float-right mr-2">
                <img src="https://image.flaticon.com/icons/png/512/861/861673.png" height="90" />
            </div>
        </div>
        <div class="list-group-item">
            <div class="float-left">
                <img src="https://image.flaticon.com/icons/png/512/1353/1353213.png" height="90" />
                <span class="h4 pl-3">Вікно на Кухні</span>
            </div>
            <div class="float-right mr-2">
                <img src="https://image.flaticon.com/icons/png/512/880/880779.png" height="90" />
            </div>
        </div>
        <div class="list-group-item">
            <div class="float-left">
                <img src="https://image.flaticon.com/icons/png/512/1353/1353187.png" height="90" />
                <span class="h4 pl-3">Вікно в спальній</span>
            </div>
            <div class="float-right mr-2">
                <img src="https://image.flaticon.com/icons/png/512/861/861673.png" height="90" />
            </div>
        </div>
    </div>

    @*<div class="col-sm-12 col-md-6 col-xl-4 widget">
            <div class="list-group-item">Calendar</div>
            <div class="list-group-item">
                    <iframe src="https://calendar.google.com/calendar/embed?src=koshman.yura%40gmail.com&ctz=Europe%2FKiev" style="border: 0; width: 100%; height: 450px;" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>*@
    <div class="weather-script"></div>
</div>
    }

    @section Scripts {
        <script type="text/javascript">
    @foreach(var item in Model.SelectMany(x => x.Items))
    {
        @*if (item.Type == WidgetItemTypeEnum.Informer)
        {
        <text>
            setupDeviceNotification(@item.DeviceTopic.Id);
        </text>
        }

        if (item.Type == WidgetItemTypeEnum.Switcher)
        {
        <text>
            setupSwitchNotification(@item.DeviceTopic.Id);
        </text>
        }*@
    }



    am4core.ready(function () {

        // Themes begin
        am4core.useTheme(am4themes_animated);
        // Themes end

        var chart = am4core.create("chartdiv", am4charts.XYChart);

        var data = [];

        chart.data = [{
            "year": "2014",
                "income": 23.5,
                "expenses": 21.1,
                "lineColor": chart.colors.next()
            }, {
            "year": "2015",
                "income": 26.2,
                "expenses": 30.5
            }, {
            "year": "2016",
                "income": 30.1,
                "expenses": 34.9
            }, {
            "year": "2017",
                "income": 20.5,
                "expenses": 23.1
            }, {
            "year": "2018",
                "income": 30.6,
                "expenses": 28.2,
                "lineColor": chart.colors.next()
            }, {
            "year": "2019",
                "income": 34.1,
                "expenses": 31.9
            }, {
            "year": "2020",
                "income": 34.1,
                "expenses": 31.9
            }, {
            "year": "2021",
                "income": 34.1,
                "expenses": 31.9,
                "lineColor": chart.colors.next()
            }, {
            "year": "2022",
                "income": 34.1,
                "expenses": 31.9
            }, {
            "year": "2023",
                "income": 34.1,
                "expenses": 31.9
            }, {
            "year": "2024",
                "income": 34.1,
                "expenses": 31.9
            }];

        var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
        categoryAxis.renderer.grid.template.location = 0;
        categoryAxis.renderer.ticks.template.disabled = true;
        categoryAxis.renderer.line.opacity = 0;
        categoryAxis.renderer.grid.template.disabled = true;
        categoryAxis.renderer.minGridDistance = 40;
        categoryAxis.dataFields.category = "year";
        categoryAxis.startLocation = 0.4;
        categoryAxis.endLocation = 0.6;


        var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
        valueAxis.tooltip.disabled = true;
        valueAxis.renderer.line.opacity = 0;
        valueAxis.renderer.ticks.template.disabled = true;
        valueAxis.min = 0;

        var lineSeries = chart.series.push(new am4charts.LineSeries());
        lineSeries.dataFields.categoryX = "year";
        lineSeries.dataFields.valueY = "income";
        lineSeries.tooltipText = "income: {valueY.value}";
        lineSeries.fillOpacity = 0.5;
        lineSeries.strokeWidth = 3;
        lineSeries.propertyFields.stroke = "lineColor";
        lineSeries.propertyFields.fill = "lineColor";

        var bullet = lineSeries.bullets.push(new am4charts.CircleBullet());
        bullet.circle.radius = 6;
        bullet.circle.fill = am4core.color("#fff");
        bullet.circle.strokeWidth = 3;

        chart.cursor = new am4charts.XYCursor();
        chart.cursor.behavior = "panX";
        chart.cursor.lineX.opacity = 0;
        chart.cursor.lineY.opacity = 0;

        chart.scrollbarX = new am4core.Scrollbar();
        chart.scrollbarX.parent = chart.bottomAxesContainer;

    }); // end am4core.ready()


    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
        </script>
    }

    <!-- Button trigger modal -->
    <br />
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#widgetModal">
        Launch demo modal
    </button>
<br />