@using IoTHomeAssistant.Domain.Enums
@model List<IoTHomeAssistant.Domain.Entities.Widget>
@{ ViewData["Title"] = "Home Page"; }

@await Html.PartialAsync("_WidgetModal")

@foreach (var area in Model.GroupBy(x => x.Area))
{
<h2 class="text-secondary font-weight-bold">@area.Key.Title</h2>
<div class="row">
    @foreach (var widget in area.OrderBy(x => x.Order))
    {
        <div class="col-sm-12 col-md-6 col-xl-4 widget">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">@widget.Title</h4>
                    <ul class="list-group">
                        @foreach (var item in widget.Items)
                        {
                            <li class="list-group-item">
                                @if (item.Type == WidgetItemTypeEnum.Informer)
                                {
                                    <div>
                                        @await Html.PartialAsync("_DashboardIcon", item)                                         
                                    </div>
                                    <div>
                                        <div class="card-title h3 text-uppercase">@item.Title</div>
                                        <div class="float-right h2 font-weight-bold text-success m-0" id="device-topic-@item.DeviceTopic.Id">
                                            <i class="load-text">Loading</i>
                                            <div class="loader">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (item.Type == WidgetItemTypeEnum.Switcher)
                                {
                                    <div>
                                        @await Html.PartialAsync("_DashboardIcon", item)
                                        <span class="h5">@item.Title</span>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-power-off text-secondary"></i>
                                    </div>
                                }
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
</div>
}
S
@section Scripts {
    <script type="text/javascript">
    @foreach(var item in Model.SelectMany(x => x.Items))
    {
        <text>
        setupDeviceNotification(@item.DeviceTopic.Id);
        </text>
    }
    </script>
}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#widgetModal">
    Launch demo modal
</button>


<h2 class="text-secondary font-weight-bold">Living room</h2>
<div class="row">
    <div class="col-sm-12 col-md-6 col-xl-4 widget">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Climate</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div>
                            <i class="fa fa-single fa-thermometer-2 text-secondary "></i>
                        </div>
                        <div>
                            <div class="card-title h3 text-uppercase">Temperature</div>
                            <div class="float-right h2 font-weight-bold text-success m-0">20°C</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div>
                            <svg class="icon-sprite droplet-half" style="color: #1b6ec2">
                                <use xlink:href="assets/images/icons-sprite.svg#droplet-half" />
                            </svg>
                        </div>
                        <div>
                            <div class="card-title h3 text-uppercase">Humidity</div>
                            <div class="float-right h2 font-weight-bold m-0" style="color: #1b6ec2">65%</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-xl-4 widget">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Lights</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div>
                            <svg class="icon-sprite text-secondary">
                                <use xlink:href="assets/images/icons-sprite.svg#bulb-eco" />
                            </svg>
                            <span class="h5">Main Light plus extra text</span>
                        </div>
                        <div class="icon">
                            <i class="fa fa-power-off text-secondary"></i>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div>
                            <svg class="icon-sprite">
                                <use xlink:href="assets/images/icons-sprite.svg#bulb-eco" />
                            </svg>
                            <span class="h5">Extra Light</span>
                        </div>
                        <div class="icon">
                            <i class="fa fa-power-off text-primary"></i>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4">
        <div class="card" data-unit-group="switch-lights">
            <div class="card-body">
                <h3 class="card-title">Rosettes</h3>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex active" data-unit="switch-light-1">
                    <svg class="icon-sprite" style="width: 2em; height: 2em; color: #ff7f5f">
                        <use xlink:href="assets/images/icons-sprite.svg#appliances" />
                    </svg>
                    <h5>Rosette 1</h5>
                    <label class="switch ml-auto checked">
                        <input type="checkbox" id="switch-light-1" checked>
                    </label>
                </li>
                <li class="list-group-item d-flex" data-unit="switch-light-2">
                    <svg class="icon-sprite" style="width: 2em; height: 2em;">
                        <use xlink:href="assets/images/icons-sprite.svg#appliances" />
                    </svg>
                    <h5>Rosette 2</h5>
                    <label class="switch ml-auto">
                        <input type="checkbox" id="switch-light-1" checked>
                    </label>
                </li>
                <li class="list-group-item d-flex" data-unit="switch-light-3">
                    <svg class="icon-sprite" style="width: 2em; height: 2em;">
                        <use xlink:href="assets/images/icons-sprite.svg#appliances" />
                    </svg>
                    <h5>Rosette 3</h5>
                    <label class="switch ml-auto">
                        <input type="checkbox" id="switch-light-1">
                    </label>
                </li>
            </ul>
            <div class="card-body">
                <div class="lights-controls" data-controls="switch-lights">
                    <button data-action="all-on" type="button" class="btn btn-secondary lights-control">All <strong>ON</strong></button>
                    <button data-action="all-off" type="button" class="btn btn-primary lights-control">All <strong>OFF</strong></button>
                </div>
            </div>
        </div>
    </div>
</div>
<br />