@using IoTHomeAssistant.Domain.Enums;
@using IotHomeAssistant.Blazor.Data

@if (WidgetItemType == WidgetItemTypeEnum.Switcher)
{
    <div class="content-wrapper">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <SfTextBox Placeholder="Назва" FloatLabelType="@FloatLabelType.Auto" @bind-Value="title"></SfTextBox>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <SfDropDownList TValue="int" TItem="DeviceItem" Placeholder="Пристрій" DataSource="@devices" FloatLabelType="@FloatLabelType.Auto" @bind-Value="deviceId">
                    <DropDownListFieldSettings Value="Value" Text="Text"></DropDownListFieldSettings>
                </SfDropDownList>
            </div>
        </div>
        <h5>Тип:</h5>
        <div class="widget-types @CssClass row">
            <div class="col-lg-12 nav">
                @foreach (WidgetType item in widgetTypes)
                {
                    <a class="nav-link col-xs-6 col-md-4 col-lg-4 @(item.Value == type ? CssClass : string.Empty)" @onclick="() => OnSelectType(item.Value)">
                        <label><img src="@(item.ImageUrl)" height="64" /></label><br />
                        @item.Title
                    </a>
                }
            </div>
        </div>
        @if (deviceId > 0 && type > 0 && !string.IsNullOrEmpty(title))
        {
            <h5>Демонстрація:</h5>
            <SwitchComponent IsChecked="@isChecked" Title="@title" ImageUrl="@(widgetTypes.First(x => x.Value == type).ImageUrl)"></SwitchComponent>
        }
    </div>
}
@code {
    List<DeviceItem> devices = new List<DeviceItem>()
{
        new DeviceItem()
        {
            Value = 1,
            Text ="Світло на кухні"
        },
        new DeviceItem()
        {
            Value = 2,
            Text ="Розетка на кухні"
        },
        new DeviceItem()
        {
            Value = 3,
            Text ="Торшер в спальні"
        }
    };
}
